:root {
  --primary-color:#062F87;
  --secondary-color:#F9B23E;
}

body, html {
  position:relative; 
  background:black;
  height:100%;
  font-family: 'Oswald', sans-serif;
  min-width:1000px;
}
main {
  position:relative; 
  /*padding-bottom: 56.25%;
  height:0;
  width:100%;*/
  min-width:1280px;
  min-height:720px;
  margin: 0 auto;
}

main:after {
  content:"";
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height:15px;
  background-color: var(--primary-color);
  z-index: 2;
}

#page-wrap {
  position: relative;
  z-index: 1;
  background:white; 
  width:100%;
  height:100%;
  /*
  border-bottom:solid 15px var(--primary-color);
  position:absolute; 
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-bottom: 56.25%;*/
}

.logo {
  width:15%;
  height:auto;
  top:60px;
  left:60px;
  position: absolute;
  z-index: 50;
  cursor: pointer;
}
#video,
#background {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}
#video {
  z-index: 1;
}
#video.playing {
  z-index: 15;
}
#background {
  z-index: 10;
}
#startbutton {
  position: absolute;
  bottom:200px;
  left:50%;
  transform:translateX(-50%);
  z-index: 100;
  padding: 20px 40px;
  background: rgba(255,255,255,0.75);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.5s;
}
#startbutton i {
  font-size:2.3vw;
}
#startbutton:hover {
  color: white;
  background: var(--primary-color);
}
#lines {
  z-index: 20;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  width:100%;
  height:20%;
  background: url('../images/lines-bg.png') top center repeat-x;
  background-size:contain;
}
#skip {
  position: absolute;
  bottom:50px;
  right:50px;
  width:8%;
  height:auto;
  cursor: pointer;
  display:none;
  transition: all 0.5s;
  z-index: 51;
}
h1 {
  z-index: 50;
  position: absolute;
  color:white;
  font-weight:300;
  font-size:7vw;
  text-align: center;
  width:100%;
  top:22%;
  text-shadow: 0.25vw 0.25vw 10px rgba(0,0,0,0.3);
}
h2 {
  opacity: 0;
  margin-top:-50px;
  transform:translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%;
  z-index: 50;
  color:white;
  font-weight:300;
  font-size:6vw;
}
h3 {
  display:none;
  margin-bottom:20px;
  padding:20px 45px;
  background-color:rgba(51,51,51,0.5);
  color:white;
  font-size:2.5vw;
  font-weight: 300;
  border-left:solid 10px var(--primary-color);
}
h3.on {
  display:block;
}
#topright,
#part-viewer .top {
  right:0;
  display:block;
  position: absolute;
  top:50px;
  transition: all 0.5s;
  z-index: 50;
  text-align: right;
}
#button-container {
  opacity: 0;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
#button-container.active {
  opacity: 1;
}
.buttons {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}
.buttons > * {
  display: inline-flex;
  color:white;
  font-family: 'Oswald', sans-serif;
  justify-content: flex-start;
  align-items: center;
  padding:7px 15px 7px 20px;
  font-size:1.5vw;
  text-decoration: none;
  margin-bottom:10px;
  text-transform: uppercase;
  background-color: rgba(51,51,51,0.5);
}
.buttons a.active {
 color:#DFBD27; 
}
.buttons .requestquote {
  background-color: rgba(6,47,135,0.5);
}
.buttons img {
  height:35px;
  width: 45px;
  object-fit: contain;
  object-position: center;
  padding-right:20px;
}
#introText {
  display:none;
  color:white;
  line-height: 1.5em;
  text-align: center;
  font-weight:300;
  font-size:1.8vw;
  width:60%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

#mainnav {
  opacity: 0;
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
  width:80%;
  z-index: 50;
}
#mainnav #primary {
  display:flex;
  padding:30px;
  background:rgba(6,47,135,0.1);
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
}
#mainnav #primary li {
  cursor: pointer;
  padding:10px 0;
  color:white;
  font-size:1.25vw;
  text-align: center;
  margin:8px;
  text-transform: uppercase;
  flex:1 0 21%;
  font-weight: 300;
  transition: all 0.2s;
  background:rgba(51,51,51,0.6);
  border:solid thin rgba(51,51,51,0.6);
}
#mainnav #primary li:hover,
#mainnav #primary li.active {
  background:rgba(51,51,51,0.5);
  color:var(--secondary-color);
}
#mainnav #secondary {
  position: absolute;
  top:20px;
  transform:translateY(-100%);
  transition: all 0.5s;
  opacity: 0;
  left:30px;
  display:flex;
  flex-flow: row wrap-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
}
#mainnav #secondary li {
  cursor: pointer;
  padding:10px 20px;
  color:white;
  font-size:1.25vw;
  text-align: center;
  margin:8px;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.2s;
  background:rgba(6,47,135,0.6);
  border:solid thin rgba(6,47,135,0.6);
}
#mainnav #secondary li:hover,
#mainnav #secondary li.active {
  color:var(--secondary-color);
  background:rgba(6,47,135,0.5);
}
#home_button {
  width:3.5%;
  height:auto;
  cursor:pointer;
  position: absolute;
  bottom:15px;
  right:3%;
  z-index: 100;
  transition: all 0.5s;
  opacity: 0;
}
#home_button.active {
  opacity: 1;
}
#content {
  width:40%;
  height:26%;
  background-color: rgba(255,255,255,0.8);
  padding:40px 20px 40px 40px;
  position: absolute;
  top:22%;
  left:0;
  z-index: 100;
  transition: all 0.5s;
  display: none;
}
#content.on {
  display: block;
}
#content_inner {
  height:100%;
  padding-right:30px;
  overflow-y: scroll;
}
#content_inner::-webkit-scrollbar {
  width: 3px;
}
#content_inner::-webkit-scrollbar-track {
  background: transparent;
}
#content_inner::-webkit-scrollbar-thumb {
  background: #333;
}
#content p,
.content p,
.content li {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size:1.2vw;
  line-height: 1.5em;
  margin-bottom:20px;
}
#content p strong,
.content p strong {
  font-weight:700;
}
.content li {
  margin-left:15px;
  padding-left:5px;
  list-style-type: disc;
  margin-bottom:0;
}
#scroll_down,
#scroll_up {
  position: absolute;
  bottom:5%;
  right:1.5%;
  width:20px;
  cursor: pointer;
  height: auto;
}
#scroll_up {
  top:5%;
  bottom:unset;
  transform:rotate(180deg);
}
#modal {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: rgba(51,51,51,0.5);
  z-index: 1000;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#modal > div {
  width:90%;
  max-width:800px;
}
#modal .close {
  cursor: pointer;
  width:100%;
  height:30px;
  display:block;
  object-fit: contain;
  object-position: center right;
  margin-bottom:20px;
}
#modal .video {
  padding-bottom: 56.25%;
  height:0;
  width:100%;
  position: relative;
}
#modal iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#part-viewer {
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top:0; 
  left:0;
  z-index: 101;
  z-index: 100000;
}
#part-viewer .top {
  display:inline-flex;
  justify-content: end;
  align-items: center;
}
#part-viewer #pv-close {
  padding:20px;
  margin-right:30px;
  height:50px;
  cursor: pointer;
  width:50px;
}
#pv-title {
  margin:0;
}
#part-viewer .bottom {
  width:90%;
  height:75%;
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
}
#part-viewer .bottom .buttons {
  width:20%;
}
#part-viewer #pv-content {
  position: absolute;
  right:0;
  bottom:5%;
  width:70%;
  height: 100%;
}
#part-viewer #pv-content .info {
  background-color: rgba(255,255,255,0.8);
  display: flex;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
#part-viewer #pv-content .info > * {
  padding:30px;
  flex:1;
}
#part-viewer #pv-content .video {
  position: relative;
}
#part-viewer #pv-content .video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
}
#part-viewer #pv-content video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width:900px) {
  #startbutton i {
    font-size:20px;
  }
  h1 {
    font-size:35px;
  }
  h2 {
    font-size:25px;
  }
  h3 {
    font-size:22px;
  }
  #buttons > * {
    font-size:20px;
  }
  #introText {
    font-size:20px;
  }
  #mainnav #primary li {
    font-size:18px;
  }
  #content p {
    font-size:18px;
  }
}

#sliderWrapper {
  width: 80%;
  height: 10px;
  position: absolute;
  bottom:2%;
  left: 50%;
  transform: translateX(-50%);
}
#progressBar {
  width: 100%;
  height: 10px;
  background: transparent;
  -webkit-appearance: none;
}
#progressBar::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #dedede;
  border-radius: 1px;
  border: 0;
}
#progressBar::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
#progressBar:focus::-webkit-slider-runnable-track {
  background: #dedede;
}
#progressBar::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #dedede;
  border-radius: 1.3px;
  border: 0;
}
#progressBar::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}