:root {
  --primary-color:#062F87;
  --secondary-color:#F9B23E;
}

body, html {
  position:relative; 
  background:black;
  height:100%;
  font-family: 'Oswald', sans-serif;
  min-width:1000px;
}
main {
  position:relative; 
  min-height:100%;
  height:auto;
}
#page-wrap {
  border-bottom:solid 15px var(--primary-color);
  position:absolute; 
  background:white; 
  width: 100%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-bottom: 56.25%;
}

#logo {
  width:15%;
  height:auto;
  top:60px;
  left:60px;
  position: absolute;
  z-index: 50;
  cursor: pointer;
}
#video,
#background {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}
#video {
  z-index: 1;
}
#video.playing {
  z-index: 15;
}
#background {
  z-index: 10;
}
#startbutton {
  position: absolute;
  bottom:200px;
  left:50%;
  transform:translateX(-50%);
  z-index: 100;
  padding: 20px 40px;
  background: rgba(255,255,255,0.75);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.5s;
}
#startbutton i {
  font-size:2.3vw;
}
#startbutton:hover {
  color: white;
  background: var(--primary-color);
}
#lines {
  z-index: 20;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  width:100%;
  height:20%;
  background: url('/images/lines-bg.png') top center repeat-x;
  background-size:contain;
}
#skip {
  position: absolute;
  bottom:50px;
  right:50px;
  width:8%;
  height:auto;
  cursor: pointer;
  display:none;
  transition: all 0.5s;
  z-index: 51;
}
h1 {
  z-index: 50;
  position: absolute;
  color:white;
  font-weight:300;
  font-size:10vw;
  text-align: center;
  width:100%;
  top:15%;
  text-shadow: 0.25vw 0.25vw 10px rgba(0,0,0,0.3);
}
h2 {
  opacity: 0;
  margin-top:-50px;
  transform:translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%;
  z-index: 50;
  color:white;
  font-weight:300;
  font-size:6vw;
}
h3 {
  display:none;
  margin-bottom:20px;
  padding:20px 45px;
  background-color:rgba(51,51,51,0.5);
  color:white;
  font-size:2.5vw;
  font-weight: 300;
  border-left:solid 10px var(--primary-color);
}
h3.on {
  display:block;
}
#topright {
  right:0;
  display:none;
  position: absolute;
  top:50px;
  transition: all 0.5s;
  z-index: 50;
  text-align: right;
}
#introText {
  display:none;
  color:white;
  line-height: 1.5em;
  text-align: center;
  font-weight:300;
  font-size:1.8vw;
  width:60%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
#requestquote {
  width:15vw;
  max-width:300px;
  display: inline-block;
}
#requestquote img {
  width:100%;
}
#mainnav {
  opacity: 0;
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
  width:80%;
  z-index: 50;
}
#mainnav #primary {
  display:flex;
  padding:30px;
  background:rgba(6,47,135,0.1);
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
}
#mainnav #primary li {
  cursor: pointer;
  padding:10px 0;
  color:white;
  font-size:1.25vw;
  text-align: center;
  margin:8px;
  text-transform: uppercase;
  flex:1 0 21%;
  font-weight: 300;
  transition: all 0.2s;
  background:rgba(51,51,51,0.6);
  border:solid thin rgba(51,51,51,0.6);
}
#mainnav #primary li:hover,
#mainnav #primary li.active {
  background:rgba(51,51,51,0.5);
  color:var(--secondary-color);
}
#mainnav #secondary {
  position: absolute;
  top:20px;
  transform:translateY(-100%);
  transition: all 0.5s;
  opacity: 0;
  left:30px;
  display:flex;
  flex-flow: row wrap-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
}
#mainnav #secondary li {
  cursor: pointer;
  padding:10px 20px;
  color:white;
  font-size:1.25vw;
  text-align: center;
  margin:8px;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.2s;
  background:rgba(6,47,135,0.6);
  border:solid thin rgba(6,47,135,0.6);
}
#mainnav #secondary li:hover,
#mainnav #secondary li.active {
  color:var(--secondary-color);
  background:rgba(6,47,135,0.5);
}
#home_button {
  width:3.5%;
  height:auto;
  cursor:pointer;
  position: absolute;
  bottom:0;
  right:3%;
  z-index: 100;
  transition: all 0.5s;
  opacity: 0;
}
#home_button.active {
  opacity: 1;
}
#content {
  width:40%;
  height:26%;
  background-color: rgba(255,255,255,0.8);
  padding:40px 20px 40px 40px;
  position: absolute;
  top:22%;
  left:0;
  z-index: 100;
  transition: all 0.5s;
  display: none;
}
#content.on {
  display: block;
}
#content_inner {
  height:100%;
  padding-right:30px;
  overflow-y: scroll;
}
#content_inner::-webkit-scrollbar {
  width: 3px;
}
#content_inner::-webkit-scrollbar-track {
  background: transparent;
}
#content_inner::-webkit-scrollbar-thumb {
  background: #333;
}
#content p {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size:1.2vw;
  line-height: 1.5em;
  margin-bottom:20px;
}
#content p strong {
  font-weight:700;
}
#scroll_down,
#scroll_up {
  position: absolute;
  bottom:5%;
  right:1.5%;
  width:20px;
  cursor: pointer;
  height: auto;
}
#scroll_up {
  top:5%;
  bottom:unset;
  transform:rotate(180deg);
}